.homepage__background-image {
  background-image: url('./assets/img/home_bkground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 130%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.homepage__logo-container {
  top: 30px;
  left: 100px;
  text-align: center;
  background-color: red;
  height: 300px;
  width: 300px;
}